extends login-layout

block content
  .container-fluid
    .row.vh-100
      .col-md-7.d-flex.align-items-center.justify-content-center.bg-light
        img.img-fluid.rounded.shadow(src="/images/login-banner.png" alt="Login Image")
      .col-md-5.d-flex.align-items-center.justify-content-center
        .w-75
          h2.text-center.mb-4 Asset Management
          p.text-center.text-muted Please sign-in to your account
          form(method="POST" action="/employee/login")
            .mb-3
              label.form-label.fw-bold Email *
              .input-group
                span.input-group-text
                  i.bi.bi-envelope
                input.form-control(type="email" name="email" placeholder="Enter email" value="kt@gmail.com" required)
            .mb-3
              label.form-label.fw-bold Password *
              .input-group
                span.input-group-text
                  i.bi.bi-key
                input.form-control(type="password" id="passwordField" value="Kt@123" name="password" placeholder="Enter password" required)
                span.input-group-text(style="cursor:pointer" onclick="togglePassword()")
                  i#eyeIcon.bi.bi-eye
              button.btn.btn-secondary.mt-3.w-100.fw-bold(type="submit") Sign in
  script.
    function togglePassword() {
      const pass = document.getElementById("passwordField");
      const eye  = document.getElementById("eyeIcon");
      if (pass.type === "password") {
        pass.type = "text";
        eye.classList.remove("bi-eye");
        eye.classList.add("bi-eye-slash");
      } else {
        pass.type = "password";
        eye.classList.remove("bi-eye-slash");
        eye.classList.add("bi-eye");
      }
    }
